/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
// @import "project/type";
// @import "project/forms";
// @import "project/tables";
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";


  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

body {
	overflow: hidden;
}

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}


p {  	
	margin-bottom: 25px; 
}

h2 {
	font: 400 60px/130% $sans;
	margin-bottom: 15px;
}

h3 {
	font: 400 30px/130% $sans;
	margin-bottom: 25px;
}

.kicker {
	font: 800 21px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 30px;
}

.body-txt,bio-txt,dropcap {
	font: 400 17px/170% $sans;
	margin-bottom: 25px;
	color: $site-black;

	@media (min-width: 600px) {
		font-size: 19px;
	}//mq
}

.body-txt,bio-txt {

	@media (min-width: 900px) {
		text-align: justify;
	}//mq

	a {
		text-decoration: none;
		border-bottom: 1px dotted;
		@include trans;

		&:hover {
			color: #24B5B5;
			@include trans;
		}//hover
	}//a
}

.bio-txt {
	@include opacity(.7);
	font-style: italic;
}

.dropcap {
	display: block;
	float: left;
	font-size: 55px;
	color: #615472;
	margin-right: 10px;
	margin-top: -3px;
}
 
/* ============================================= */
/*	Header 							   			 */ 
/* ============================================= */

header {
	height: 70px;
	background-color: $site-black;
}

#top-nav {     
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 33333333; 
	background-color: $site-black;
	height: 70px;
	@include trans;
	@include pie-clearfix;

	@media (min-width: 760px) {
		padding: 20px 60px;
	}//mq
}//top-nav

#top-nav.hidden {
	@include trans;
	position: fixed;
	top: -70px;
}

.nav-logo-mod {
	display: inline;
	float: left;
	font: 700 17px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	max-width: 175px;
	position: relative;
	@include pie-clearfix;
}

.nav-logo-hover {
	position: absolute;
	max-width: 175px;
	@include trans;
	@include opacity(1);
	top: 0px;
	left: 0px;
	z-index: 222;

	&:hover {
		@include opacity(0);
	}
}

.nav-logo-top {
	position: absolute;
	max-width: 175px;
	@include trans;
	top: 0px;
	left: 0px;
}

.nav-logo-txt {
	display: inline;
	float: left;
	font: 600 17px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-indent: -20000px;	
}

.nav-link-mod {
	display: none;
	background-color: #2c2c2c;
	min-width: 275px;
	display: none;
	float: right;

	@media (min-width: 760px) {
		display: inline;
		float: right;
		min-width: inherit;
		padding-top: 8px;
		position: relative;
		background-color: transparent;
		width: auto;
	}

	.nav-link-item {
		@media (min-width: 760px) {
			&:hover {
				padding-top: 0px; 

				&:last-child {
					background-color: #191919;
				}//lc
			}//hover

			&:hover .hood-list {
				background-color: #191919;
				display: block;
				padding: 10px 20px 20px 20px;
			}//hover
		}//mq	
	}//nav-link-item
}

.nav-link-item {
	font: 600 14px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $site-tan;
	display: none;	
	border-bottom: 1px solid #222;

	a {
		padding: 20px 0px 20px 20px;
		display: block;
		width: 100%;

		@media (min-width: 760px) {
			padding: 0px;
			display: inline;
			width: auto;
			padding-right: 15px;
		}//mq
	}//a

	&:last-child {
		border-bottom: none;
	}//lc

	@media (min-width: 760px) {
		display: inline;
		margin-right: 20px;
		border-bottom: 0px;
	
		&:hover {
			color: $site-gold;
		}
	}//mq

	&:last-child {
		margin-right: 0px;

		&:hover {
			padding: 0px 0px;
			@media (min-width: 760px) {
				padding: 30px 15px;
				margin-right: -15px;
				margin-left: -15px;
			}//mq
		}//hover
	}//last-child
}//nav-link-item

.visible {
	display: block;
	overflow-y: scroll;
	max-height: 330px;

	@media (min-height: 600px) {
		max-height: 510px;
	}//mq

	@media (min-width: 760px) {
		max-height: inherit;
		overflow-y: visible;
	}

	@media (min-height: 800px) {
		max-height: 690px;
	}//mq

	@media (min-height: 1000px) {
		max-height: 870px;
	}//mq

	.nav-link-item {
		display: block;

		@media (min-width: 760px) {
			display: inline;
		}//mq
	}//nav-link-item
}

.nav-chrome {
	padding: 20px 20px 25px 20px;
	@include pie-clearfix;

	@media (min-width: 760px) {
		padding: 0px;
		height: 0px;
	}//mq
}//nav-chrome

.hood-list {
	position: relative;
	display: none;
	margin-left: -20px;
	background-color: #3d3d3d;
	// padding-top: 10px;
	// margin-top: 20px;
	border-top: 1px solid #222;

	@media (min-width: 760px) {
		background-color: #191919;
		max-width: 300px;
		z-index: 22222222;
		color: $site-tan;
		position: absolute;
		display: none;
		top: 49px;
		border-top: 0px;
		width: 124%;
		margin-left: -50px;

		a {
			&:hover {
				color: $site-gold;
			}//hover
		}//a

	}//mq
}

.hood-list-item {
	font: 200 14px/140% $sans;
	padding: 0px 0px 0px 20px;
	border-bottom: 1px solid #2d2d2d;

	@media (min-width: 760px) {
		margin: 10px 0px 10px 0px;
		border-bottom: 0px;
		min-width: 600px;
		width: 100%;
	}//mq 700
}

.m-nav-mod {
	float: right;
	display: block;
	padding-top: 10px;

	@media (min-width: 760px) {
		display: none;
	}//mq
}

.toggle-active {
	float: right;
	display: block;
	background-color: #2d2d2d;
	padding: 30px 25px 20px 25px;
	margin: -20px -25px -25px 0px;

	a {
		@include opacity(.2);
	}

	@media (min-width: 760px) {
		display: none;
	}//mq
}

.active-link {
	color: $site-gold;
}

.visible-m-link {
	display: block;

	@media (min-width: 760px) {
		display: none;
	}//mq
}


/* ============================================= */
/*	Intro    							   		 */ 
/* ============================================= */

#intro {
/*	padding: 60px 20px 40px 20px;
*/	background-color: #14A798;
	position: relative;
	z-index: 4;
/*	height: 666px;
*/	@include pie-clearfix;

}//intro


.intro {
	position: relative;
	z-index: 3;
}//intro

.intro-img-mod {
	img {
		width: 100%;
	}
}

.intro-title {
	width: 100%;
	position: relative;
	z-index: 444;
}

.scroll-arrow {
	max-width: 40px;
	position: absolute;
	bottom: 35px;
	z-index: 666;
	left: 50%;

	img {
		max-width: 100%;
	}
}

/* ============================================= */
/*	Hoop Feed							   		 */ 
/* ============================================= */

.hoop-stream-mod {
	img {
		width: 100%;
	}
}

.stream-item {
	position: relative;
	overflow: hidden;	
	img {
		width: 100%;
	}
}

.item-details {
	background-color: #3B3248;
	position: static;
	width: 100%;
	color: #fff;
	padding: 16px;
	text-align: center;
	z-index: 1;
	position: relative;

	@media (min-width: 600px) {
		padding: 25px;
	}//mq

		h3,h4 {
			font: 200 11px/130% $sans;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 3px;
			color: $site-tan;
			display: inline;

			@media (min-width: 600px) {
				font-size: 14px;
				letter-spacing: 3px;
			}//mq

			@media (min-width: 900px) {
				font-size: 16px;
			}//mq

			@media (min-width: 1300px) {
				font: 600 19px/130% $sans;
			}//mq
		}//h3h4

		h4 {
			margin-left: 3px;
			@include opacity(.6);
		}//h4

		h4:before {
			content:"|";
			font-weight: 100;
			font-size: 16px;
			padding-right: 4px;

			@media (min-width: 760px) {
				font-size: 23px;
			}//mq
		}//h4before

}//item-details

.item-meta {
	@include opacity (.8);
}

.stream-link {
	display: block;
}

.stream-info {
	position:relative;
	width: 100%;
	height: 100%;
}

.stream-details {
	position: absolute;
	top: 25%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 0 50px 0 50px;
}

.hoop-img {
	position: relative;
	z-index: 1;
}

.net-img {
	position: absolute;
	top: 0px;
	z-index: 2;
	pointer-events: none;
}

.missed-shot {
	position: absolute;
	top: 0px;
	z-index: 333;
}

/* ============================================= */
/*	About  								   	     */ 
/* ============================================= */

#about {
	padding: 60px 20px 0px 20px;
	background-color: #17A2A5;
	position: relative;
	z-index: 333;
	overflow: hidden;

	@media (min-width: 900px) {
		padding: 120px 20px 0px 20px;
	}//mq

}//about

.about-bg-front {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 111;
}

.about-bg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
}

.about-txt-mod {
	max-width: 620px;
	margin: 0 auto;
	padding: 40px 20px 25px 20px;
	position: relative;
	z-index: 333;
	background-color: #EFEFE4;
	-moz-box-shadow:    14px 14px 0px 0px rgba(79,67,96,0.3);
  	-webkit-box-shadow: 14px 14px 0px 0px rgba(79,67,96,0.3);
  	box-shadow:         14px 14px 0px 0px rgba(79,67,96,0.3);

	@media (min-width: 500px) {
		padding: 55px 55px 60px 55px;
		margin-bottom: 0px;
	}//mq

	@media (min-width: 600px) {
		padding: 80px 80px 90px 80px;
		margin-bottom: -650px;
	}//mq
}//about-txt-mod

.envelope-open {
	margin-bottom: 0px;
	transition-delay: 2s;
	-webkit-transition: margin 2s;
	-moz-transition: margin 2s; 
	-o-transition: margin 2s;
	transition: margin 2s;

	@media (min-width: 850px) {
		margin-bottom: -400px;
	}//mq
}

.about-signature {
	img {
		width: 100%;
	}
}

.envelope-btm {
	height: 300px;
	width: 100%;
	background-color: #d1d1d1;
	position: relative;
	z-index: 222;
	max-width: 800px;
	margin: 0 auto;
	margin-top: -300px;

/*	&:before {
		content:url(../_img/envelope-cut.png);
		position: absolute;
		top: 0px;
		width: 200px;
	}*/
}

.envelope-top {
	width: 0; 
	height: 0; 
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-bottom: 275px solid #ddd;
	position: relative;
	z-index: 222;
	margin: 0 auto;
	max-width: 800px;
	margin-top: -450px;
}

.envelope-cut {
	height: 300px;
	width: 100%;
	position: relative;
	z-index: 444;
	max-width: 800px;
	margin: 0 auto;
	display: none;

	@media (min-width: 850px) {
		display: block;
	}//mq

	img {
		width: 100%;
	}
}

.envelope-back {
	margin: 0 auto;
	text-align: center;
	margin-bottom: -350px;	
	max-width: 800px;
	display: none;

	@media (min-width: 850px) {
		display: block;
	}//mq

	img {
		width: 100%;
	}
}

.mug-mod {
	position: absolute;
	top: 350px;
	max-width: 400px;
	display: none;

	@media (min-width: 1200px) {
		display: block;
		left: -220px;
	}//mq

	@media (min-width: 1300px) {
		display: block;
		left: -120px;
	}//mq

	img {
		width: 100%;
	}
}

.book-mod {
	position: absolute;
	top: 250px;
	max-width: 475px;
	display: none;

	@media (min-width: 1200px) {
		display: block;
		right: -350px;
	}//mq

	@media (min-width: 1300px) {
		display: block;
		right: -200px;
	}//mq

	img {
		width: 100%;
	}
}


.site-ball-mod {
	text-align: center;
	width: 100%;
	
	img {
		width: 100%;
	}
}

.site-ball {
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	margin-bottom: 20px;
	pointer-events: none;
}

.absolute-ball {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
}

.call-to-action {
	background-color: #0D8C80;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

.blimp {
	z-index: 333;
	margin-top: 10px;
	max-width: 160px;
	position: absolute;
	top: 43%;
	display: none;

	@media (min-width: 1000px) {
		display: inline;
	}//mq
}//blimp



/* ============================================= */
/*	Hoop Styles							   	     */ 
/* ============================================= */

.hoop-1 {
	.item-details {
		background-color: #4E445B;
		@include trans;

		&:hover {
			@include trans;
			background-color: darken(#4E445B, 7%);
		}//hover
	}//item-details
}//hoop-1

.hoop-2 {
	.item-details {
		background-color: #F7C657;
		@include trans;

		&:hover {
			@include trans;
			background-color: darken(#F7C657, 7%);
		}//hover
	}//item-details
}//hoop-2

.hoop-3 {
	.item-details {
		background-color: #b7484d;
		@include trans;

		&:hover {
			@include trans;
			background-color: darken(#b7484d, 7%);
		}//hover
	}//item-details
}//hoop-3

.hoop-4 {
	.item-details {
		background-color: #333433;
		@include trans;

		&:hover {
			@include trans;
			background-color: darken(#333433, 7%);
		}//hover
	}//item-details
}//hoop-4

.hoop-5 {
	.item-details {
		background-color: #2C4152;
		@include trans;

		&:hover {
			@include trans;
			background-color: darken(#2C4152, 7%);
		}//hover
	}//item-details
}//hoop-4




/* ============================================= */
/*	Footer 							   			 */ 
/* ============================================= */

footer {
	background-color: $site-black;
	padding: 40px;
	text-align: center;
	color: #333;

	p {
		font: 700 11px/130% $sans;
		margin-bottom: 3px;
	}

	h3 {
		margin-bottom: 5px;
		font: 400 25px/130% $sans;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.ftr-mod {
	max-width: 800px;
	margin: 0 auto;
}

.ftr-logo {
	max-width: 200px;
	margin-bottom: 20px;
}

.social-list {
	margin: 40px 0px;
	text-align: center;
}

.social-item {
	display: inline;
	margin-right: 15px;
	@include opacity(.7);
	@include trans;

	&:last-child {
		margin-right: 0px;
	}//lc

	&:hover {
		@include trans;
		@include opacity(1);
	}
}

.social-item-img {
	max-width: 27px;
	width: 100%;
}


/* ============================================= */
/*	404 Page								   	 */ 
/* ============================================= */

.error-page {
	background-color: #2d2d2d;
	margin: 0 auto;
	text-align: center;
	color: $site-gold;
	positon: relative;
	overflow: hidden;
	margin: 60px 20px 20px 20px;

	h1 {
		margin-bottom: 5px;
		font: 600 25px/130% $sans;
		text-transform: uppercase;
		letter-spacing: 2px;
	}//h1

	p {
		font: 600 18px/130% $sans;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
}

.error-ball {
	margin: 0 auto;
	max-width: 300px;
	width: 100%;
	margin-bottom: 60px;
}

.error-bg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	width: 100%;
	z-index: -1;
}

.error-bg {
	background: url(../_img/error-bg.png) 50% 50% no-repeat;
	height: 800px;
	background-size: cover;
	position: absolute;
	bottom: 0px;
}

.error-hoop-mod {
	position: relative;
	width: 100%;
}

.error-hoop {
	max-width: 1200px;
	height: auto;
	width: 100%;
	margin: 0 auto;
}

.error-rim {
	-webkit-animation: hinge 5s normal forwards ease-in-out;
	-moz-animation: hinge 5s normal forwards ease-in-out;
	-o-animation: hinge 5s normal forwards ease-in-out;
	max-width: 250px;
	width: 25%;
	position: absolute;
	left: 40%;
	top: 55%;
}

/* ============================================= */
/*	Button Style 							   	 */ 
/* ============================================= */

.btn-submit{
	a {
		position: relative;
	    color: $site-tan;
	    text-decoration: none;
	    background-color: rgba(85,73,100,1);
	    display: block;
	    padding: 15px 4px;
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;
	    -webkit-box-shadow: 0px 3px 0px rgba(70,59,83,1), 0px 4px 20px rgba(0,0,0,.7);
	    -moz-box-shadow: 0px 3px 0px rgba(70,59,83,1), 0px 4px 20px rgba(0,0,0,.7);
	    box-shadow: 0px 3px 0px rgba(70,59,83,1), 0px 4px 20px rgba(0,0,0,.7);
	    margin: 40px auto;
		width: 160px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;

		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;
	}

	a:hover {
		@include trans;
	    background-color: rgba(102,89,120,1);
	}

	a:active {
	    -webkit-box-shadow: 0px 2px 0px rgba(70,59,83,1), 0px 3px 6px rgba(0,0,0,.9);
	    -moz-box-shadow: 0px 2px 0px rgba(70,59,83,1), 0px 3px 6px rgba(0,0,0,.9);
	    box-shadow: 0px 2px 0px rgba(70,59,83,1), 0px 3px 6px rgba(0,0,0,.9);
	    position: relative;
	    top: 4px;
	}
}//btn-submit


/* ============================================= */
/*	Animations 								   	 */ 
/* ============================================= */


.blimp-animation {
	-webkit-animation: blimp 75s linear infinite;
	-moz-animation: blimp 75s linear infinite;
	-o-animation: blimp 75s linear infinite;
}

@-webkit-keyframes blimp {
	0% {margin-left: 1250px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes blimp {
	0% {margin-left: 1250px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes blimp {
	0% {margin-left: 1250px;}
	100% {margin-left: -1000px;}
}

//hinge animation

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes hinge {
	5% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	100% { -webkit-transform: translateY(700px); opacity: 0; }
}

@-moz-keyframes hinge {
	5% { -moz-transform: rotate(0); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	20%, 60% { -moz-transform: rotate(80deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	40% { -moz-transform: rotate(60deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	80% { -moz-transform: rotate(60deg) translateY(0); opacity: 1; -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	100% { -moz-transform: translateY(700px); opacity: 0; }
}

@-o-keyframes hinge {
	5% { -o-transform: rotate(0); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	20%, 60% { -o-transform: rotate(80deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	40% { -o-transform: rotate(60deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	80% { -o-transform: rotate(60deg) translateY(0); opacity: 1; -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	100% { -o-transform: translateY(700px); opacity: 0; }
}

@keyframes hinge {
	5% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }	
	20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; }	
	100% { transform: translateY(700px); opacity: 0; }
}

.hinge {
	-webkit-animation-name: hinge;
	-moz-animation-name: hinge;
	-o-animation-name: hinge;
	animation-name: hinge;
}



/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



