/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
// @import "project/type";
// @import "project/forms";
// @import "project/tables";
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";


  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}


p {  	
	margin-bottom: 25px; 
}

h2 {
	font: 400 60px/130% $sans;
	margin-bottom: 15px;
}

h3 {
	font: 400 30px/130% $sans;
	margin-bottom: 25px;
}
 
/* ============================================= */
/*	Header 							   			 */ 
/* ============================================= */

header {
	background-color: $site-black;
	height: 70px;
	padding: 20px;
	color: #fff;

	@media (min-width: 600px) {
		padding: 18px 60px 35px 60px;
	}//mq
}

.nav-logo {
	display: inline;
	float: left;
	font: 700 17px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	max-width: 175px;

	img {
		width: 100%;
	}
}

.nav-logo-txt {
	display: inline;
	float: left;
	font: 600 17px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-indent: -20000px;	
}

.nav-link-mod {
	display: inline;
	float: right;
	padding-top: 8px;
}

.nav-link-item {
	display: inline;
	margin-right: 20px;
	font: 600 14px/140% $sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $site-tan;
	display: none;

	@media (min-width: 761px) {
		display: inline;
	}//mq

	a {
		&:hover {
			color: $site-gold;
		}//hover
	}//a

	&:last-child {
		margin-right: 0px;
	}
}

.hood-list {
	display: none;
	background-color: #191919;
	padding: 10px;
}

.hood-list-item {
	font: 400 16px/160% $sans;
	color: $site-tan;
	padding-bottom: 5px;
}

.m-nav-mod {
	float: right;
	display: block;
	padding-top: 10px;

	@media (min-width: 761px) {
		display: none;
	}//mq
}

/* ============================================= */
/*	Hoop Feed							   		 */ 
/* ============================================= */

.hoop-stream-mod {
	img {
		width: 100%;
	}
}

.stream-item {
	position: relative;
	overflow: hidden;
	&:hover {
		.stream-info-mod, .item-details {
		@include trans;
		@include opacity (1);
		bottom: 0px;
		}
	}		
}

.stream-item {
	img {
		width: 100%;
	}
}

.item-details {
	background-color: #3B3248;
	position: static;
	width: 100%;
	color: #fff;
	padding: 16px;
	text-align: center;

	@media (min-width: 600px) {
		padding: 25px;
	}//mq

	@media (min-width:761px) {
		padding: 32px;
	}//mq

		h3,h4 {
			font: 600 11px/130% $sans;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin-bottom: 3px;
			color: $site-tan;
			display: inline;

			@media (min-width: 600px) {
				font-size: 14px;
			}//mq

			@media (min-width: 761px) {
				font: 600 19px/130% $sans;
			}//mq
		}//h3h4

		h4 {
			margin-left: 3px;
			@include opacity(.6);
		}//h4

		h4:before {
			content:"|";
			font-weight: 100;
			font-size: 16px;
			padding-right: 4px;

			@media (min-width: 761px) {
				font-size: 23px;
			}//mq
		}//h4before

/*	@media (min-width: 1200px) {
		padding: 22px 30px 25px 30px;

		h3 {
			font: 400 35px/130% $serif;
			margin-bottom: 5px;
		}

		h4 {
			font: 400 14px/130% $sans;
			display: inline;
			text-transform: uppercase;
			letter-spacing: 2px;
		}	
	}//mq*/
}//item-details

.item-meta {
	@include opacity (.8);
}

.stream-link {
	display: block;
}

.stream-info {
	position:relative;
	width: 100%;
	height: 100%;
}

.stream-details {
	position: absolute;
	top: 25%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 0 50px 0 50px;
}


/* ============================================= */
/*	About  								   	     */ 
/* ============================================= */

.about {
	img {
		width: 100%;
	}//img
}



/* ============================================= */
/*	Hoop Styles							   	     */ 
/* ============================================= */

.hoop-1 {
	.item-details {
		background-color: #B5494F;
	}
}

.hoop-2 {
	.item-details {
		background-color: #20998C;
	}
}

.hoop-3 {
	.item-details {
		background-color: #333433;
	}
}

/* ============================================= */
/*	Footer 							   			 */ 
/* ============================================= */

footer {
	background-color: $site-black;
	padding: 40px;
	text-align: center;
	color: #333;

	p {
		font: 700 11px/130% $sans;
		margin-bottom: 3px;
	}

	h3 {
		margin-bottom: 5px;
		font: 400 25px/130% $sans;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.ftr-mod {
	max-width: 800px;
	margin: 0 auto;
}

.ftr-logo {
	max-width: 169px;
	margin-bottom: 10px;
}

/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



